pandas
numpy
scikit-learn
 
mlflow
 
# DVC (optional - for large datasets like California Housing)
dvc
dvc[gdrive]  # if using Google Drive as DVC remote
 
# API framework
fastapi
uvicorn
uvicorn[standard]
 
# Logging & monitoring
python-multipart
prometheus-client
 
# Linting and formatting
flake8

# inference and model serving
joblib
pydantic
numpy